/* GENERAL */
/* Colors:
Primary: #FFC72C,
Secondary: #DA291C,
Tertiary: #27251F,
Gray: #b7b7b7,
Beige: #B69A81, 
White: #fff,
Orange: #e54838 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #27251f;
}

/* HEADER */

.logo {
  height: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 6rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  list-style: none;
  font-size: 2rem;
}

/* HERO SECTION */

.section-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc72c;
}

.hero-text-box {
  padding: 4rem;
}

.hero-text {
  font-size: 5.5rem;
  color: #da291c;
  margin-bottom: 2rem;
}

.hero-image {
  max-width: 50vw;
}

.hero-icons-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero-icon {
  font-size: 4.8rem;
  --ionicon-stroke-width: 2.4rem;
  color: #da291c;
}

.hero-icon-forward {
  color: #fff;
  font-size: 6.4rem;
}

/* MENU */

.menu {
  margin: 2rem 0;
}

.menu-options {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 4rem;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
  color: #b7b7b7;
}

.menu-options > li {
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.menu-options > li:first-child {
  color: #da291c;
}

.menu-options > li:not(:last-child) {
  border-right: 3px solid #ebebec;
}

.menu-container {
  display: flex;
  align-items: flex-start;
}

.menu-heading {
  background-color: #ffc72c;
  font-size: 3.5rem;
  margin: 3rem 0 2rem 0;
  padding: 1.5rem;
  border-radius: 0 0 100px 0;
  padding-left: 4rem;
}

.menu-details {
  margin-left: 4rem;
}

.menu-subtitle {
  color: #b69a81;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 2rem 0;
}

.menu-para {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0 0 3rem 0;
  max-width: 90%;
}

.warning-text {
  font-size: 1.5rem;
  color: #da291c;
  margin: 0 0 0.3rem 0;
}

.allergen-text {
  font-size: 1.5rem;
}

.menu-nutrients {
  margin: 4rem 0;
  max-width: 80%;
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
  justify-content: center;
  border-radius: 100px;

  background-color: #da291c;
  color: #fff;
}

.menu-nutrients > li:not(:last-child) {
  border-right: 2px solid #fff;
  padding-right: 1rem;
}

.menu-image-box {
  position: relative;
}

.menu-ingred {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.589);

  max-width: 20rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 1.3;
}

.ingredients {
  color: #b69a81;
}

.menu-options-box {
  display: flex;
  gap: 3rem;
  margin: 0 5rem;
}

.menu-option {
  padding: 1rem;
  max-width: 25%;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.07);
}

.menu-option-image {
  width: 12rem;
}

.menu-option-text {
  font-size: 1.5rem;
}

.menu-icons-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-icon {
  font-size: 4.8rem;
  --ionicon-stroke-width: 2.4rem;
}

.menu-icon-forward {
  font-size: 6.4rem;
}

/* HAPPY MEAL */

.hm {
  display: flex;
  gap: 5rem;
  align-items: center;
  margin: 5rem 5rem;
}

.hm-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hm-app-logo {
  width: 15rem;
}

.hm-app-video {
  width: 20rem;
  border-radius: 20px;
}

.hm-app-text {
  text-transform: uppercase;
  color: #da291c;
  font-size: 1.3rem;
}

.hm-store-logo {
  height: 3rem;
}

.hm-tiles-boxes-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.hm-tiles-box1 {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.hm-tiles-box2 {
  display: flex;
  align-items: center;
}

.hm-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.hm-tile-image {
  width: 18rem;
}

.hm-tile-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #da291c;
  text-align: center;
  width: 60%;
}

/* EAT */

.eat {
  display: flex;
  align-items: center;
}

.eat-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 5rem;
}

.hm-logo {
  width: 15rem;
}

.eat-text-heading {
  font-size: 3.5rem;
}

.red-para {
  color: #da291c;
  font-weight: bold;
  font-size: 1.5rem;
}

.eat-tile-box {
  background-color: #ffc72c;
  padding: 2rem;
}

.toys-tile-box {
  display: flex;
  flex-grow: 1;
  gap: 5rem;
  margin: 3rem;
}

.toys-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toys-tile-image {
  width: 20rem;
  border-radius: 20px;
}

.toys-tile-text {
  font-size: 1.8rem;
  background-color: #e54838;
  color: #fff;
  font-weight: bold;
  padding: 1rem;
  border-radius: 50px;
  text-align: center;
  width: 80%;
}

.eat-icon-box {
  justify-content: flex-end;
  margin-right: 5rem;
}

/* CITY */

.city {
  display: flex;
}

.city-text {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: end;
}

.choose-city {
  display: flex;
  border-radius: 50px;
  padding: 1.5rem;
  align-items: center;

  background-color: #ffc72c;
  font-size: 1.5rem;
  cursor: pointer;
}

.hm-splash {
  height: 20rem;
  align-self: center;
}

.city-image {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}
