/* GENERAL */
/* Colors:
Primary: #FFC72C,
Secondary: #DA291C,
Tertiary: #27251F,
Gray: #b7b7b7,
Beige: #B69A81, 
White: #fff */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #27251f;
}

/* HEADER */

.logo {
  height: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 6rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  list-style: none;
  font-size: 2rem;
}

/* HERO SECTION */

.section-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc72c;
}

.hero-text-box {
  padding: 4rem;
}

.hero-text {
  font-size: 5.5rem;
  color: #da291c;
}

.hero-image {
  max-width: 50vw;
}

/* MENU */

.menu {
  margin: 2rem 0;
}

.menu-options {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 4rem;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7rem;
  color: #b7b7b7;
}

.menu-options > li {
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.menu-options > li:first-child {
  color: #da291c;
}

.menu-options > li:not(:last-child) {
  border-right: 3px solid #ebebec;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-heading {
  background-color: #ffc72c;
  font-size: 3.5rem;
  margin: 3rem 0 2rem 0;
  padding: 1.5rem;
  border-radius: 0 0 100px 0;
}

.menu-details {
  margin-left: 4rem;
}

.menu-subtitle {
  color: #b69a81;
  font-weight: bold;
  font-size: 1.7rem;
  margin: 2rem 0;
}

.menu-para {
  font-size: 1.5rem;
  margin: 0 0 2rem 0;
}

.warning-text {
  font-size: 1.5rem;
  color: #da291c;
  margin: 0 0 0.3rem 0;
}

.allergen-text {
  font-size: 1.5rem;
}

.menu-nutrients {
  margin: 2rem 0;
  max-width: 80%;
  list-style: none;
  display: flex;
  gap: 3rem;
  font-size: 1.7rem;
  padding: 1rem;
  justify-content: center;
  border-radius: 100px;

  background-color: #da291c;
  color: #fff;
}

.menu-nutrients > li:not(:last-child) {
  border-right: 2px solid #fff;
  padding-right: 1rem;
}

.menu-image-box {
  position: relative;
}

.menu-ingred {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.589);

  max-width: 20rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  padding: 2rem;
  line-height: 1.3;
}

.ingredients {
  color: #b69a81;
}
